@import "tailwindcss";

@layer utilities {
  .font-anton {
    font-family: var(--font-anton), sans-serif !important;
    font-weight: 400 !important;
  }
}

@layer base {
  body {
    @apply bg-white text-neutral-800 dark:bg-[#0a0a0a] dark:text-[#ededed];
  }

  h1 {
    font-family: var(--font-anton), sans-serif;
    @apply uppercase text-[#141414] text-[3rem] leading-none dark:text-[#ededed] lg:text-[12rem];
  }

  a {
    /* font-family: "DM Mono", monospace; */
    @apply text-[0.9rem] font-medium uppercase no-underline text-[#141414] dark:text-[#ededed];
  }

  img {
    @apply h-full w-full object-cover;
  }
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.block {
  flex: 1;
  height: 100%;
  background-color: #0a0a0a;
  transform: scaleX(0);
  transform-origin: left;
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; 
  background-color: #0a0a0a;
  opacity: 0;
}

/* .logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */

.logo-container {
  /* plus grand et responsive */
  width: min(80vw, 1100px);
  aspect-ratio: 433 / 104;   /* respecte le ratio du path */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;                 /* optionnel: enlève le padding actuel */
}